# Database connection configuration
DB_CONNECTION_STRING="Host=localhost;Port=5432;Database=projectddb;Username=your_username;Password=your_password"

# Telegram Bot Token
TELEGRAM_BOT_TOKEN="8639079710:AAGUB60SVyqMzIYxOR6LrwNkRYSYMYSgmuA"

# Admin IDs (comma-separated list)
ADMIN_USER_IDS="7243182477,8673128062,6427784379,7485848172"
# Database Reset Password
RESET_PASSWORD="your_reset_password"

# Application WebApp URL
WEBAPP_URL="https://projectd.qzz.io/index.html"

# Blockchain settings
BLOCKCHAIN_ACCOUNT_ID="0:your_account_id"
TONAPI_URL="https://tonapi.io/v2"
DEPOSIT_ADDRESS="your_deposit_wallet_address"
TON_PRICE_API_URL="https://api.gateio.ws/api/v4/spot/tickers?currency_pair=TON_USDT"
TON_PRICE_FALLBACK_API_URL="https://api.coingecko.com/api/v3/simple/price?ids=the-open-network&vs_currency=usd"


