# Database connection configuration
DB_CONNECTION_STRING="Host=localhost;Port=5432;Database=monsterworlddb;Username=your_username;Password=your_password"

# Telegram Bot Token
TELEGRAM_BOT_TOKEN="your_bot_token"

# Admin IDs (comma-separated list)
ADMIN_USER_IDS="admin_id_1,admin_id_2"

# Database Reset Password
RESET_PASSWORD="your_reset_password"

# Application WebApp URL
WEBAPP_URL="https://monsterworld.qzz.io/index.html"

