# Build results
bin/
obj/
var/
node_modules/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# VS Code local settings
.vscode/

# Logs
*.log

# Environment files
.env

# User secrets
secrets.json

# Publish output
publish/

# OS files
.DS_Store
Thumbs.db
the-project-d/
